<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.myweb.domain.MemberVO" alias="mvo"/>
		<typeAlias type="com.myweb.domain.CategoryVO" alias="cvo"/>
		<typeAlias type="com.myweb.domain.ProductVO" alias="pvo"/>
		<typeAlias type="com.myweb.domain.CartVO" alias="ctvo"/>
		<typeAlias type="com.myweb.domain.SideVO" alias="svo"/>
		<typeAlias type="com.myweb.domain.BeverageVO" alias="bvo"/>
		<typeAlias type="com.myweb.domain.FilesVO" alias="fvo"/>
		<typeAlias type="com.myweb.domain.PageVO" alias="pgvo"/>
		<typeAlias type="com.myweb.domain.OrderVO" alias="ovo"/>
	</typeAliases>
</configuration>